@using Misi.MVC.ViewModels;
@using Misi.MVC.Resources;
@using Kendo.Mvc.UI;
@using Misi.MVC.ViewModels.Shared
@model Misi.MVC.ViewModels.ScenarioNewContract.RequestInfoViewModel

@{
    ViewBag.Title = SharedResource.Create + " " + SharedResource.RequestInfo;
}

@Html.Partial("_PartialValidationSummary", ViewData.ModelState)
@using (Html.BeginForm("CreateRequestInfo", "ScenarioNewContract", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    

        <div class="panel">
            @Html.Partial("_PartialSectionInformation", SharedResource.RequestInfo)
            <div class="panel-body" style="display: block;">
                <div class="row">
                    <!-- Content Form Routinginformation -->
                    <div class="col-md-6">
                        <div class="form-group">
                            @(Html.Bootstrap().LabelFor(m => m.RequestInfoHeadingViewModel.ServiceId).Class(CSSResource.FormLabel))
                            <div class=@CSSResource.FormControlDiv>
                                @Html.Bootstrap().TextBoxFor(m => m.RequestInfoHeadingViewModel.ServiceId).Class(CSSResource.FormControlGlobal).Readonly(true)
                                @Html.ValidationMessageFor(m => m.RequestInfoHeadingViewModel.ServiceId)
                            </div>
                        </div>
                        <div class="form-group">
                            @(Html.Bootstrap().LabelFor(m => m.RequestInfoHeadingViewModel.RequestedBy).Class(CSSResource.FormLabel))
                            <div class=@CSSResource.FormControlDiv>

                                @Html.Bootstrap().TextBoxFor(m => m.RequestInfoHeadingViewModel.RequestedBy).Class(CSSResource.FormControlGlobal)
                                @Html.ValidationMessageFor(m => m.RequestInfoHeadingViewModel.RequestedBy)
                            </div>
                        </div>
                        <div class="form-group">
                            @(Html.Bootstrap().LabelFor(m => m.RequestInfoHeadingViewModel.SnOrIdNumber).Class(CSSResource.FormLabel))
                            <div class=@CSSResource.FormControlDiv>
                                @Html.Bootstrap().TextBoxFor(m => m.RequestInfoHeadingViewModel.SnOrIdNumber).Class(CSSResource.FormControlGlobal)
                                @Html.ValidationMessageFor(m => m.RequestInfoHeadingViewModel.SnOrIdNumber)
                            </div>
                        </div>
                        <div class="form-group">
                            @(Html.Bootstrap().LabelFor(m => m.RequestInfoHeadingViewModel.CompanyListItems).Class(CSSResource.FormLabel))
                            <div class=@CSSResource.FormControlDiv>
                                @Html.Bootstrap().DropDownListFor(m => m.RequestInfoHeadingViewModel.CompanyListItems.PostData, Model.RequestInfoHeadingViewModel.CompanyListItems.Sources).Class(CSSResource.FormControlGlobal)
                                @Html.ValidationMessageFor(m => m.RequestInfoHeadingViewModel.CompanyListItems)
                            </div>
                        </div>
                        <div class="form-group">
                            @(Html.Bootstrap().LabelFor(m => m.RequestInfoHeadingViewModel.Location).Class(CSSResource.FormLabel))
                            <div class=@CSSResource.FormControlDiv>
                                @Html.Bootstrap().TextBoxFor(m => m.RequestInfoHeadingViewModel.Location).Class(CSSResource.FormControlGlobal)
                                @Html.ValidationMessageFor(m => m.RequestInfoHeadingViewModel.Location)
                            </div>
                        </div>
                        <div class="form-group">
                            @(Html.Bootstrap().LabelFor(m => m.RequestInfoHeadingViewModel.RequestedDate).Class(CSSResource.FormLabel))
                            <div class=@CSSResource.FormControlDiv>
                                @Html.Kendo().DatePickerFor(m => m.RequestInfoHeadingViewModel.RequestedDate).Format(ConfigResource.FormatDate).Value(DateTime.Today)
                                @Html.ValidationMessageFor(m => m.RequestInfoHeadingViewModel.RequestedDate)
                            </div>
                        </div>
                        <div class="form-group">
                            @(Html.Bootstrap().LabelFor(m => m.RequestInfoHeadingViewModel.RequestedviaListItems).Class(CSSResource.FormLabel))
                            <div class=@CSSResource.FormControlDiv>
                                @Html.Bootstrap().DropDownListFor(m => m.RequestInfoHeadingViewModel.RequestedviaListItems.PostData, Model.RequestInfoHeadingViewModel.RequestedviaListItems.Sources).Class(CSSResource.FormControlGlobal)
                                @Html.ValidationMessageFor(m => m.RequestInfoHeadingViewModel.RequestedviaListItems)
                            </div>
                        </div>
                        <div class="form-group">
                            @(Html.Bootstrap().LabelFor(m => m.RequestInfoHeadingViewModel.RequestMemo).Class(CSSResource.FormLabel))
                            <div class=@CSSResource.FormControlDiv>
                                @Html.Bootstrap().TextAreaFor(m => m.RequestInfoHeadingViewModel.RequestMemo).Class(CSSResource.TextAreaControl)
                                @Html.ValidationMessageFor(m => m.RequestInfoHeadingViewModel.RequestMemo)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @(Html.Bootstrap().LabelFor(m => m.RequestInfoHeadingViewModel.IssuedByListItems).Class(CSSResource.FormLabel))
                            <div class=@CSSResource.FormControlDiv>
                                @Html.Kendo().DropDownList().Name("IssuedBy").BindTo(Model.RequestInfoHeadingViewModel.IssuedByListItems).Value(Model.RequestInfoHeadingViewModel.IssuedByListItems.FirstOrDefault(e => e.Selected).Value).Enable(false)
                                @Html.ValidationMessageFor(m => m.RequestInfoHeadingViewModel.IssuedByListItems)
                            </div>
                        </div>
                        <div class="form-group">
                            @(Html.Bootstrap().LabelFor(m => m.RequestInfoHeadingViewModel.IssuedDate).Class(CSSResource.FormLabel))
                            <div class=@CSSResource.FormControlDiv>
                                @Html.Kendo().DatePickerFor(m => m.RequestInfoHeadingViewModel.IssuedDate).Value(DateTime.Today).Format(ConfigResource.FormatDate).Enable(false)
                                @Html.ValidationMessageFor(m => m.RequestInfoHeadingViewModel.IssuedDate)
                            </div>
                        </div>
                    </div>
                    <!-- Content Form Routinginformation -->
                </div>
            </div>
            
            <div class="panel-footer">
                <div class="bootstrap">
                    <div class="@CSSResource.FullPage">
                        @Html.Bootstrap().SubmitButton().Text(SharedResource.SaveDraft).Class(CSSResource.EndFormButton).PrependIcon(new Icon(CSSResource.IconSave))
                        @Html.Bootstrap().ActionLink(SharedResource.Next, "CreateRoutingInfoExtLine", "ScenarioNewContract").Class(CSSResource.EndFormButton).PrependIcon(new Icon(CSSResource.IconNext))
                        @Html.Bootstrap().ActionLink(SharedResource.Cancel, "Index", "ScenarioNewContract").Class(CSSResource.EndFormButton).PrependIcon(new Icon(CSSResource.IconCancel))
                    </div>
                </div>
            </div>
        </div>

     
    

}
