@using Misi.MVC.Resources
@using Misi.MVC.ViewModels.ScenarioBroken
@using Misi.MVC.ViewModels.ScenarioGeneral
@model Misi.MVC.ViewModels.ScenarioBroken.PreviewBrokenViewModel

@{
    ViewBag.Title = SharedResource.Preview + " " + SharedResource.Broken;
}


@Html.Partial("_PartialValidationSummary", ViewData.ModelState)

@using (Html.BeginForm("Preview", "ScenarioBroken", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    
        <div class="panel">
            @Html.Partial("_PartialSectionInformation", SharedResource.PreviewServiceRequest)
            <div class="panel-body" style="display: block;">
                <!--Row-->
                <div class="row">
                    <!-- Content Form Routinginformation -->
                    <div class=@CSSResource.FullPage>
                        <div class="form-group">
                            @*@(Html.Bootstrap().LabelFor(m => m.PreviewRequestInfoViewModel.RoutingCreationDate).Class(CSSResource.FormLabel))
                                <div class=@CSSResource.FormControlDiv>
                                    @(Html.Kendo().DatePickerFor(m => m.RoutingInfoHeadingViewModel.RoutingCreationDate).Name("RoutingCreationDate"))
                                    @Html.ValidationMessageFor(m => m.RoutingInfoHeadingViewModel.RoutingCreationDate)
                                </div>*@
                            <div class="@CSSResource.TableResponsiveDiv">

                                @(Html.Kendo().Grid<PreviewRequestInfoViewModel>()
                                  .Name("PreviewRequestInfoViewModel")
                                  .Columns(columns =>
                                  {
                                      columns.Bound(e => e.Item).Width(100);
                                      columns.Bound(e => e.ServiceId).Width(150);
                                      columns.Bound(e => e.NotificationId).Width(180);
                                      columns.Bound(e => e.RequestBy).Width(150);
                                      columns.Bound(e => e.IssuedBy).Width(150);
                                      columns.Bound(e => e.NotificationDate).Width(180);
                                      columns.Bound(e => e.SnOrIdNumber).Width(180);
                                      columns.Bound(e => e.CustomerId).Width(180);
                                      columns.Bound(e => e.Company).Width(150);
                                      columns.Bound(e => e.Branch).Width(150);
                                      columns.Bound(e => e.RequestMemo).Width(180);
                                  })
                                  .ColumnMenu()
                                  .Sortable()
                                  .Pageable()
                                  .Scrollable()                                 
                                )
                            </div>
                        </div>
                    </div>
                    <!-- Content Form Routinginformation --> 
                </div>
                <!--End Row-->
            </div>
            <div class="panel-footer">
                <div class="bootstrap">
                    <div class="@CSSResource.FullPage">
                        <div class="form-group">
                            @Html.Bootstrap().SubmitButton().Text(SharedResource.Save).Class(CSSResource.EndFormButton).PrependIcon(new Icon(CSSResource.IconSave))
                            @Html.Bootstrap().Button().Text(SharedResource.AddRouting).Class(CSSResource.EndFormButton).PrependIcon(new Icon(CSSResource.IconAdd))
                            @Html.Bootstrap().ActionLink(SharedResource.Submit, "Preview", "ScenarioBroken").Class(CSSResource.EndFormButton).PrependIcon(new Icon(CSSResource.IconFinish))
                            @Html.Bootstrap().ActionLink(SharedResource.Cancel, "Index", "ScenarioBroken").Class(CSSResource.EndFormButton).PrependIcon(new Icon(CSSResource.IconCancel))
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
}