@using Misi.MVC.Resources
@using Misi.MVC.ViewModels.ScenarioReturnDevice
@using Misi.MVC.ViewModels.ScenarioGeneral
@model RequestInfoViewModel

@{
    ViewBag.Title = SharedResource.Create + " " + SharedResource.RequestInfo;
}

@Html.Partial("_PartialValidationSummary", ViewData.ModelState)

@using (Html.BeginForm("CreateRequestInfo", "ScenarioReturnDevice", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    
        <div class="panel">
            @Html.Partial("_PartialSectionInformation", SharedResource.RequestInfo)
            <div class="panel-body" style="display: block;">
                <!--Row-->
                <div class="row">
                    <!-- Content Form Routinginformation -->
                    <div class=@CSSResource.HalfPage>
                        <div class="form-group">
                            @(Html.Bootstrap().LabelFor(m => m.RequestInfoHeadingViewModel.ServiceId).Class(CSSResource.FormLabel))
                            <div class=@CSSResource.FormControlDiv>
                                @Html.Bootstrap().TextBoxFor(m => m.RequestInfoHeadingViewModel.ServiceId).Class("form-control global")
                                @Html.ValidationMessageFor(m => m.RequestInfoHeadingViewModel.ServiceId)
                            </div>
                        </div>
                    </div>
                    
                    <div class=@CSSResource.HalfPage>
                        <div class="form-group">
                            @(Html.Bootstrap().LabelFor(m => m.RequestInfoHeadingViewModel.TicketId).Class(CSSResource.FormLabel))
                            <div class=@CSSResource.FormControlDiv>
                                @(Html.Bootstrap().TextBoxFor(m => m.RequestInfoHeadingViewModel.TicketId).Class("form-control global"))
                                @Html.ValidationMessageFor(m => m.RequestInfoHeadingViewModel.TicketId)
                            </div>
                        </div>
                    </div>
                    <!-- Content Form Routinginformation -->
                </div>
                <!--End Row-->
                <!--Row-->
                <div class="row">
                    <!-- Content Form Routinginformation -->
                    <div class=@CSSResource.HalfPage>
                        <div class="form-group">
                            @(Html.Bootstrap().LabelFor(m => m.RequestInfoHeadingViewModel.RequestedBy).Class(CSSResource.FormLabel))
                            <div class=@CSSResource.FormControlDiv>
                                @(Html.Bootstrap().TextBoxFor(m => m.RequestInfoHeadingViewModel.RequestedBy).Class("form-control global"))
                                @Html.ValidationMessageFor(m => m.RequestInfoHeadingViewModel.RequestedBy)
                            </div>
                        </div>
                    </div>
                    
                    <div class=@CSSResource.HalfPage>
                        <div class="form-group">
                            @(Html.Bootstrap().LabelFor(m => m.RequestInfoHeadingViewModel.IssuedByList).Class(CSSResource.FormLabel))
                            <div class=@CSSResource.FormControlDiv>
                                @Html.Bootstrap().DropDownListFor(m => m.RequestInfoHeadingViewModel.IssuedByList.PostData, Model.RequestInfoHeadingViewModel.IssuedByList.Sources).Class("form-control global")
                                @Html.ValidationMessageFor(m => m.RequestInfoHeadingViewModel.IssuedByList)
                            </div>
                        </div>
                    </div>
                    <!-- Content Form Routinginformation -->
                </div>
                <!--End Row-->
                <!--Row-->
                <div class="row">
                    <!-- Content Form Routinginformation -->
                    <div class=@CSSResource.HalfPage>
                        <div class="form-group">
                            @(Html.Bootstrap().LabelFor(m => m.RequestInfoHeadingViewModel.SnOrIdNumber).Class(CSSResource.FormLabel))
                            <div class=@CSSResource.FormControlDiv>
                                @Html.Bootstrap().TextBoxFor(m => m.RequestInfoHeadingViewModel.SnOrIdNumber).Class("form-control global")
                                @Html.ValidationMessageFor(m => m.RequestInfoHeadingViewModel.SnOrIdNumber)
                            </div>
                        </div>
                    </div>
                    
                    <div class=@CSSResource.HalfPage>
                        <div class="form-group">
                            @(Html.Bootstrap().LabelFor(m => m.RequestInfoHeadingViewModel.IssuedDate).Class(CSSResource.FormLabel))
                            <div class=@CSSResource.FormControlDiv>
                                @(Html.Kendo().DatePickerFor(m => m.RequestInfoHeadingViewModel.IssuedDate).Value(DateTime.Today).Format(ConfigResource.FormatDate))
                                @Html.ValidationMessageFor(m => m.RequestInfoHeadingViewModel.IssuedDate)
                            </div>
                        </div>
                    </div>
                    <!-- Content Form Routinginformation -->
                </div>
                <!--End Row-->
                <!--Row-->
                <div class="row">
                    <!-- Content Form Routinginformation -->
                    <div class=@CSSResource.HalfPage>
                        <div class="form-group">
                            @(Html.Bootstrap().LabelFor(m => m.RequestInfoHeadingViewModel.Company).Class(CSSResource.FormLabel))
                            <div class=@CSSResource.FormControlDiv>
                                @Html.Bootstrap().TextBoxFor(m => m.RequestInfoHeadingViewModel.Company).Class("form-control global")
                                @Html.ValidationMessageFor(m => m.RequestInfoHeadingViewModel.Company)
                            </div>
                        </div>
                    </div>
                    <!-- Content Form Routinginformation -->
                </div>
                <!--End Row-->
                <!--Row-->
                <div class="row">
                    <!-- Content Form Routinginformation -->
                    <div class=@CSSResource.HalfPage>
                        <div class="form-group">
                            @(Html.Bootstrap().LabelFor(m => m.RequestInfoHeadingViewModel.Location).Class(CSSResource.FormLabel))
                            <div class=@CSSResource.FormControlDiv>
                                @(Html.Bootstrap().TextBoxFor(m => m.RequestInfoHeadingViewModel.Location).Class("form-control global"))
                                @Html.ValidationMessageFor(m => m.RequestInfoHeadingViewModel.Location)
                            </div>
                        </div>
                    </div>
                    <!-- Content Form Routinginformation -->
                </div>
                <!--End Row-->
                <!--Row-->
                <div class="row">
                    <!-- Content Form Routinginformation -->
                    <div class=@CSSResource.HalfPage>
                        <div class="form-group">
                            @(Html.Bootstrap().LabelFor(m => m.RequestInfoHeadingViewModel.Email).Class(CSSResource.FormLabel))
                            <div class=@CSSResource.FormControlDiv>
                                @(Html.Bootstrap().TextBoxFor(m => m.RequestInfoHeadingViewModel.Email).Class("form-control global"))
                                @Html.ValidationMessageFor(m => m.RequestInfoHeadingViewModel.Email)
                            </div>
                        </div>
                    </div>
                    <!-- Content Form Routinginformation -->
                </div>
                <!--End Row-->
                <!--Row-->
                <div class="row">
                    <!-- Content Form Routinginformation -->
                    <div class=@CSSResource.HalfPage>
                        <div class="form-group">
                            @(Html.Bootstrap().LabelFor(m => m.RequestInfoHeadingViewModel.RequestedDate).Class(CSSResource.FormLabel))
                            <div class=@CSSResource.FormControlDiv>
                                @(Html.Kendo().DatePickerFor(m => m.RequestInfoHeadingViewModel.RequestedDate).Format(ConfigResource.FormatDate))
                                @Html.ValidationMessageFor(m => m.RequestInfoHeadingViewModel.RequestedDate)
                            </div>
                        </div>
                    </div>
                    <!-- Content Form Routinginformation -->
                </div>
                <!--End Row-->
                <!--Row-->
                <div class="row">
                    <!-- Content Form Routinginformation -->
                    <div class=@CSSResource.HalfPage>
                        <div class="form-group">
                            @(Html.Bootstrap().LabelFor(m => m.RequestInfoHeadingViewModel.RequestedVia).Class(CSSResource.FormLabel))
                            <div class=@CSSResource.FormControlDiv>
                                @(Html.Bootstrap().TextBoxFor(m => m.RequestInfoHeadingViewModel.RequestedVia).Class("form-control global"))
                                @Html.ValidationMessageFor(m => m.RequestInfoHeadingViewModel.RequestedVia)
                            </div>
                        </div>
                    </div>
                    <!-- Content Form Routinginformation -->
                </div>
                <!--End Row-->
                <!--Row-->
                <div class="row">
                    <!-- Content Form Routinginformation -->
                    <div class=@CSSResource.HalfPage>
                        <div class="form-group">
                            @(Html.Bootstrap().LabelFor(m => m.RequestInfoHeadingViewModel.RequestMemo).Class(CSSResource.FormLabel))
                            <div class=@CSSResource.FormControlDiv>
                                @(Html.Bootstrap().TextAreaFor(m => m.RequestInfoHeadingViewModel.RequestMemo).Class("form-control global textarea-autosize"))
                                @Html.ValidationMessageFor(m => m.RequestInfoHeadingViewModel.RequestMemo)
                            </div>
                        </div>
                    </div>
                    <!-- Content Form Routinginformation -->
                </div>
                <!--End Row-->
            </div>
            <div class="panel-footer">
                <div class="bootstrap">
                    <div class="@CSSResource.FullPage">
                        @Html.Bootstrap().SubmitButton().Text(SharedResource.SaveDraft).Class(CSSResource.EndFormButton).PrependIcon(new Icon(CSSResource.IconSave))
                        @Html.Bootstrap().ActionLink(SharedResource.Next, "CreateRoutingInfo", "ScenarioReturnDevice").Class(CSSResource.EndFormButton).PrependIcon(new Icon(CSSResource.IconNext))
                        @Html.Bootstrap().ActionLink(SharedResource.Cancel, "Index", "ScenarioReturnDevice").Class(CSSResource.EndFormButton).PrependIcon(new Icon(CSSResource.IconCancel))
                    </div>
                </div>
            </div>
        </div>
        
    
}
